/*  RESET */

* {
  text-decoration: none;
  margin: auto;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

ul {
  flex-direction: row;
  
 
}

li {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;

}

/* SOBRE MIM */

.hello-home {
 
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-home{
  display: flex;
  flex-direction: row;
  padding: 30px;
}

h2{
  font-size: 40px;

}

h1 {
  font-size: 140px;
  color: blueviolet;
  font-family: sans-serif;
  font-weight: bold;
}

.specialist{
  font-size: 20px;
}

.img-rockeatWoman {
background: url("../img/7450187-removebg-preview.png");
  width: 500px;
  height: 500px;
  animation: chatTranslate 3s ease-in-out infinite;
}

/* ANIMAÇÃO*/

@keyframes chatTranslate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
