/*  RESET */

*{
  text-decoration: none;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* HEADER */



header {
  display: flex;
  justify-content: end;
  align-items: center;


}

ul {
  flex-direction: row;
}

li {
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid blueviolet;
}

/* SOBRE MIM */

.sobre-mim{
  margin-top: 100px;

}



h1 {
  font-size: 65px;
}

.nome-sobre{
  color: blueviolet;
}

.texto-sobre-mim{
    text-align: justify;
}




/* SERVIÇO */

.skill {
  display: flex;
}


.card-skill {
  padding: 20px;
  border: 2px solid white;
  margin: 10px;
  display: flex;
  
}

/* FORMAÇÃO */

.formacao{
  margin-top: 100px;
}

.card-formacao {
  background-color: aliceblue;
  color: black;
  width: 322px;
  height: 322px;
  display: inline-block;
  flex-direction: row;
  text-align: center;
  border: 2px solid rebeccapurple;
  border-radius: 10px;
}

.titulo-formacao {
  font-weight: bolder;
}

h2 {
  background-color: blueviolet;
  display: flex;
  width: 200px;
  margin-top: 80px;
}

/* SERVIÇOS */


.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0 0;
}

/*  Cards */

.card-landing {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0 0;
}

.card-plataforma {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0 0;
}

.card-sistemas {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0 0;
}

.card-text {
  width: 40%;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid white;
  opacity: 0;
  transition: 0.3s;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
  background-color: blueviolet;
  width: 220px;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.card :hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 250px;
  width: 350px;
  opacity: 1;
}

.card:hover > .card-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

.h4-projetos {
  color: white;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTATO */
