@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*  RESET */

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* HEADER */

header {
  margin-left: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed; /* Set the navbar to fixed position */
  /* Position the navbar at the top of the page */
  /* Full width */
}

ul {
  flex-direction: row;
}

li {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

/* SOBRE MIM */

.hello-home {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-home {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

h1 {
  font-size: 140px;
  color: blueviolet;
  font-family: sans-serif;
  font-weight: bold;
}

.myname {
  font-size: 40px;
}

.specialist {
  font-size: 20px;
}

/* ANIMAÇÃO*/

@keyframes chatTranslate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.img-home {
  margin-left: 30px;
  padding-bottom: 50px;
  width: 400px;
  height: 450px;
  animation: chatTranslate 3s infinite;
}

/* SOBRE MIM */

.about {

  margin-top: 200px;
  padding: 10px;
}

.conteudo{
 display: flex;
 justify-content: space-between;
}

.padrao-titulo {
  background-color: blueviolet;
  width: 200px;
  color: #fff;
  font-size: 30px;
}

.about > .conteudo > div > p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;

}

.img-content {
align-items: center;
  padding: 20px;
  background-color: blueviolet;
  width: 230px;
  height: 330px;
}

.my-photo {

  width: 190px;
  height: 250px;
}

.card-hobbie {
  text-align: center;
}

.card-hobbie > img{
  width: 120px;
  height: 120px;
}