@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*  RESET */

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* HEADER */

header {
  border-radius: 5px;
  margin-left: 350px;
  text-align: center;
  background-color: rgb(5, 1, 6);
  position: fixed;
}

ul {
  flex-direction: row;
}

.li-header {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

/* ANIMATION */

canvas {
  background: #000;
}

/* SOBRE MIM */

.hello-home {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-home {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

h1 {
  font-size: 140px;
  color: blueviolet;
  font-family: sans-serif;
  font-weight: bold;
}

.myname {
  font-size: 40px;
}

.specialist {
  font-size: 20px;
}

/* SOBRE MIM */

.about {
  margin-top: 200px;
  padding: 10px;
}

.conteudo {
  display: flex;
  justify-content: space-between;
}

.padrao-titulo {
  background-color: blueviolet;
  width: 200px;
  color: #fff;
  font-size: 30px;
}

.about > .conteudo > div > p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

.img-content {
  align-items: center;
  padding: 20px;
  background-color: blueviolet;
  width: 230px;
  height: 330px;
}

.my-photo {
  width: 190px;
  height: 250px;
}

.wrapp {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card-hobbie {
  text-align: center;
}

.card-hobbie > img {
  width: 120px;
  height: 120px;
}

/* PORTFOLIO */

.portfolio {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-portfolio {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

h5 {
  font-weight: bold;
  font-size: 26px;
}

.content-project {
  margin-left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.card {
  color: #000;
  margin: 20px;
}

/*
.card-project {
  margin: 20px;
  background-color: #fff;
  width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

*/

.btn-ver-mais {
  margin: auto;
  color: #fff;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 7px;
  display: flex;
  background-color: blueviolet;
}

/* HABILIDADES */

.habilidades {
  margin-top: 200px;
}

.skill-wrapp {
  display: flex;
  flex-direction: row;
}

.hard-skill {
  width: 500px;
  height: 400px;
  margin: 100px;
}

.hard-skill > h4 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.img-hardskill {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.soft-skill {
  width: 500px;
  height: 400px;
  margin: 100px;
}

.soft-skill > h4 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.soft-skill > ol {
  list-style: circle;
  font-size: 20px;
}

.soft-skill > ol > li {
  padding: 10px;
}

/* CONTATO*/

.contato {
  margin-top: 200px;
}

.contato-content {
  margin: 130px;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envio-card {
  justify-items: auto;
  color: black;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  box-shadow: 10px 7px rgb(109, 109, 109);
}

.envio-card > form > input {
  padding: 5px;

  margin-top: 10px;
  width: 290px;
  height: 45px;
  border-radius: 10px;
  border-bottom: none;
  border: 1px solid;
}

.envio-card > h4 {
  font-size: 35px;
}

#mensagem {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
}

.button-86 {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #1d171d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #0c010915;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.redes-sociais {
  width: 400px;
  height: 400px;
  margin-left: 190px;
  border-radius: 20px;
}

.redes-sociais > h4 {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
}

.redes-content {
  align-items: center;

  padding: 30px;
}

.redes-content > img {
  padding-left: 20px;
}
